
.movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-family: 'Italiana', serif;
    background-color: rgba( 0, 0, 0, 0.5 );
    position: relative;
}

.movie-details { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    color: whitesmoke;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie-title {
    position: absolute;
    top: -20%;
    white-space: nowrap;
}

.movie-overview,
.release-date,
.genre,
.runtime,
.average-rating,
.budget {
    margin-bottom: 10px;
    font-weight: bold;
}

.info {
   font-weight: bold;
}

.movie-trailer {
    position: absolute;
    top: 56%;
    margin: 0;
}

.poster-image {
    height: 100vh;
    width: 100vw;
    filter: brightness(40%);
}

@media screen and (min-width: 1500px) {
    h1  {
        font-size: 50px;
    }
}

@media screen and (max-width: 1500px) {
    h1  {
        font-size: 30px;
    }
}

@media screen and (min-width: 1500px) {
    h2  {
        font-size: 30px;
    }
}

@media screen and (max-width: 1500px) {
    h2  {
        font-size: 20px;
    }
}

@media screen and (min-width: 1500px) {
    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 1500px) {
    p {
        font-size: 13px;
    }
}

@media screen and (min-width: 1500px) {
    iframe {
        width: 653px;
        height: 360px;
    }
}

@media screen and (max-width: 1500px) {
    iframe {
        width: 400px;
        height: 300px;
    }
}
