.individual-movie-card {
    width: 100%;
}

.movie-card-image {
    width: 90%;
    border-radius: 5px;
}

.movie-card-image:hover {
    box-shadow: 0 5px 15px 5px rgba( 0, 0, 0, 0.7 );
    /* box-shadow: 0 5px 15px 5px #FF69B4; */
}

