* {
  font-family: 'Italiana', serif;
}

body {
  margin: 0;
  background-image: url('../src/assets/cinema-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}